.navbar-brand,
.nav-link {
    color: #fff !important;
}

.nav-link:hover,
.nav-link.active {
    color: #d9e8f5 !important;
}

form button[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: #164869 !important;
}